.weeklyForecast-heading {
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: white;
}
.weeklyForecast {
  height: 300px;
  width: 860px;
  border-radius: 1rem;
  background-color: hsla(240, 65%, 3%, 0.549);
  border: 2px solid yellow;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  color: white;
}
.weeklyForecast-list {
  padding: 0.9rem;
  font-size: 1rem;
}
.weeklyweather-forecasts {
  margin-left: 1.2rem;
}
.temp,
.humid,
.wind,
.precipitation {
  display: flex;
  flex: 1;
}

.temp-icon,
.humid-icon,
.wind-icon,
.precipitation-icon {
  margin-right: 0.2em;
}

.precipitation-icon {
  font-size: 1.3em;
}
