.weeklyForecast-heading {
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: white;
}
.weeklyForecast {
  height: 18.75rem;
  border-radius: 1rem;
  background-color: hsla(240, 65%, 3%, 0.549);
  border: 2px solid yellow;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  color: white;
}
.weeklyForecast-list {
  padding: 0.9rem;
  font-size: 0.9rem;
}
.weeklyweather-forecasts {
  margin-left: 0.5rem;
}
.temp,
.humid,
.wind,
.precipitation {
  display: flex;
}

.temp-icon,
.humid-icon,
.wind-icon,
.precipitation-icon {
  margin-right: 0.2em;
}

.precipitation-icon {
  font-size: 1.3em;
}

@media (max-width: 27.8rem) {
  .weeklyForecast-list {
    padding: 0rem;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}
@media (min-width: 37.5rem) and (max-width: 40.25rem) {
  .weeklyForecast-list {
    font-size: 0.78rem;
  }
}
