.weather-text {
  font-size: 0.7em;
  position: absolute;
  left: 10px;
  color: white;
}
.sidebar-main {
  width: 100%;
  max-width: 50px;
  border-radius: 10px;
  background-color: black;
}
.bottom-sidebar {
  margin-top: 70px;
}
