.sidebar-main {
  width: 100%;
  max-width: 65px;
  border-radius: 15px;
  background-color: grey;
  color: white;
}
.sidebar-top-container {
  display: flex;
  justify-content: center;
}
.weather-text {
  font-size: 10px;
}
.sidebar-divider {
  background-color: white;
}
.sidebar-bottom {
  margin-top: 130px;
}
