.currentWeather-container {
  height: 330px;
  width: 470px;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid yellow;
  background-color: hsla(240, 65%, 3%, 0.549);
}
.searchbar-container {
  display: flex;
  justify-content: end;
}
.searchbar {
  width: 180px;
}
.searchbar-input {
  border-bottom: 2px solid white;
  color: white;
}

.current-weather-img {
  height: 70px;
  width: 70px;
}
.current-temp {
  font-size: 40px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
}
.currentTemp-unit {
  font-size: 30px;
  position: absolute;
  margin-top: 8px;
}
.temp-caption {
  display: flex;
  color: white;
  gap: 5px;
  margin-bottom: 20px;
}
.caption-text {
  font-size: 16px;
  margin-top: 1px;
}
.locationTime-container {
  margin-top: 20px;
}
.currentLocation-container {
  display: flex;
  gap: 10px;
}
.current-location {
  font-size: 12px;
  margin-top: 2px;
}
.currentDateTime-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.timeDate-container {
  display: flex;
  gap: 5px;
  margin-top: 3px;
}
.time-current,
.date-current {
  font-size: 12px;
}
