.signup {
  background-color: black;
  min-height: 100vh;
}

.signUp-heading {
  font-weight: normal;
  text-align: center;
  font-size: clamp(1.8rem, 1rem + 2vw, 2.5rem);
  color: yellow;
  margin-bottom: 1rem;
}
.signUpForm-wrapper {
  padding: 0 1.4rem;
}
.signUpForm-container {
  max-width: 22rem;
  min-height: 27.5rem;
  padding: 3rem;
  margin: auto;
}
.signUp-grid-container {
  margin-bottom: 1rem;
}
.signUpText-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
.icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.create-button {
  display: flex;
  justify-content: center;
}
.signIn-link {
  text-decoration: none;
  color: yellow;
}

@media (min-height: 42rem) {
  .signUp-heading {
    margin: 1.5rem 0;
  }
  .signUp-grid-container {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 48rem) {
  .signUpForm-container {
    max-width: 28rem;
  }
}
