.signup {
  background-color: black;
}
.bg-image {
  height: 727px;
  width: 727px;
  opacity: 0.5;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: yellow;
}
p {
  text-align: center;
}
label {
  font-weight: bold;
}
.icon {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.create-button {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: yellow;
}
