* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
.weather-app {
  padding: 20px;
  width: 1120px;
  margin: auto;
  background-color: black;
}
.sidebar {
  position: absolute;
}
.flex-container {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 80px;
}
