.weather-app {
  min-height: 100vh;
}
.weather-app-container {
  padding: 1.2rem;
  position: absolute;
  top: 0px;
}
.Bg-image {
  background-image: url("./images/valentin-muller-bWtd1ZyEy6w-unsplash.jpg");
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -webkit-filter: brightness(30%);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sidebar {
  position: absolute;
  width: 4.5rem;
}
.flex-container {
  position: relative;
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-left: 7rem;
}
.Highlights,
.weekly-forecasts {
  margin-left: 1.2rem;
}
