.highlights-container {
  color: white;
  height: 330px;
  width: 860px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid yellow;
  background-color: hsla(240, 65%, 3%, 0.549);
}
.highlights-wind,
.highlights-atmPressure,
.highlights-sun {
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(233, 233, 3, 0.664);
}
.highlights-humidity,
.highlights-visibility,
.highlights-feelslike {
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(233, 233, 3, 0.664);
}

.highlights-heading {
  margin-bottom: 10px;
}
.highlights-wind {
  background-color: rgba(0, 0, 0, 0.836);
  height: 180px;
  width: 260px;
}
.wind-heading {
  margin-bottom: 20px;
}
.windspeed,
.windgust {
  display: flex;
  gap: 8px;
  font-size: 30px;
}
.wind-unit,
.wind-text {
  font-size: 10px;
  margin-top: 4px;
}
.highlights-atmPressure {
  background-color: rgba(0, 0, 0, 0.836);
  height: 180px;
  width: 260px;
}
.atmPressure-chart {
  display: flex;
  justify-items: center;
}
.atmPressure-indicator {
  display: flex;
  gap: 40px;
  margin-left: 60px;
}
.atmPressure-unit-container {
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-top: 5px;
}
.atmPressure-value {
  font-size: 26px;
}
.atmPressure-unit {
  font-size: 10px;
  margin-top: 15px;
}
.highlights-sun {
  background-color: rgba(0, 0, 0, 0.836);
  height: 180px;
  width: 260px;
}
.sun-time-container,
.sunrise-time-container,
.sunset-time-container {
  display: flex;
}
.sunrise-time-container,
.sunset-time-container {
  gap: 2px;
}
.sun-Chart {
  margin-top: 10px;
}
.sun-time-container {
  padding: 0 55px;
  justify-content: space-between;
}
.sunrise-time,
.sunset-time {
  font-size: 10px;
}
.time-unit {
  font-size: 10px;
}
.highlights-humidity {
  background-color: rgba(0, 0, 0, 0.836);
  height: 70px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.humidity-value {
  font-size: 23px;
}
.humidity-percent {
  font-size: 10px;
}
.highlights-visibility {
  background-color: rgba(0, 0, 0, 0.836);
  height: 70px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.visibility-value {
  font-size: 23px;
}
.visibility-unit {
  font-size: 10px;
  margin-left: 5px;
}
.highlights-feelslike {
  background-color: rgba(0, 0, 0, 0.836);
  height: 70px;
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.temperature-value {
  font-size: 23px;
  margin-top: -6px;
}
