.signin {
  background-color: black;
}
h1 {
  text-align: center;
  color: yellow;
  font-weight: normal;
  margin: 20px 0;
}

.weather-image {
  height: 727px;
  width: 727px;
  opacity: 0.5;
}
.signin-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}
label {
  font-weight: bold;
}
.signIn-form {
  height: 440px;
  width: 400px;
  background-color: hsl(240, 58%, 4%);
  color: white;
  padding: 35px;
  margin: auto;
  border: 1px solid hsla(60, 100%, 80%, 0.62);
}
.signInForm-container {
  padding: 50px;
}
.signin-button {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: yellow;
}
p,
a {
  margin-top: 20px;
  text-align: center;
}
