.card-main {
  height: 300px;
  width: 300px;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.forecast-dropdown {
  margin-top: 30px;
  width: 100px;
  border: none;
}
.forecast1-weather-img,
.forecast2-weather-img,
.forecast3-weather-img,
.forecast4-weather-img,
.forecast5-weather-img {
  height: 40px;
  width: 40px;
}
.forecast-1,
.forecast-2,
.forecast-3,
.forecast-4,
.forecast-5,
.forecast-6,
.forecast-7 {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  gap: 30px;
}
.forecast-list {
  color: white;
  padding: 10px;
}
.card-secondary {
  position: absolute;
  height: 60px;
  width: 280px;
  background-color: rgba(74, 74, 74, 0.951);
  top: 230px;
  left: 10px;
}
.forecast-weather-img {
  height: 60px;
  width: 60px;
}
.forecast-dayname,
.forecast-temp,
.forecast-prediction {
  font-size: 10px;
  color: white;
}
.forecast-dayname {
  padding: 5px;
}
.forecast-temp {
  font-size: 15px;
  padding: 2px;
}
