.forecast-heading {
  margin-bottom: 1.2rem;
  color: white;
}
.box-main {
  height: 300px;
  width: 470px;
  padding: 0.8rem;
  background-color: hsla(240, 65%, 3%, 0.549);
  border-radius: 1rem;
  position: relative;
  border: 2px solid yellow;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.forecast1-weather-img {
  height: 3rem;
  width: 3rem;
}
.forecast-1 {
  display: flex;
  flex-direction: row;
  gap: 220px;
  color: white;
  font-size: 15px;
}
.forecast1-temp {
  flex: 1;
}
.forecast1-date {
  flex: 1;
}
