.forecast-heading {
  margin-bottom: 20px;
}
.card-main {
  height: 300px;
  width: 470px;
  padding: 10px;
  background-color: hsla(240, 65%, 3%, 0.549);
  border-radius: 15px;
  position: relative;
  border: 2px solid yellow;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

.forecast1-weather-img {
  height: 40px;
  width: 40px;
}
.forecast-1 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 220px;
}
.forecast-1 {
  color: white;
  font-size: 15px;
}
